## 실습 1번

In [205]:
# 실습 1

np.random.seed(1234)

df = pd.DataFrame(randn(10, 4), columns=['A', 'B', 'C', 'D'])

df[['A']]

          A
0  0.471435
1 -0.720589
2  0.015696
3  0.953324
4  0.405453
5 -0.202646
6  1.318152
7 -0.183109
8  1.047579
9  0.124713

In [206]:
df[['B', 'D']]

          B         D
0 -1.190976 -0.312652
1  0.887163 -0.636524
2 -2.242685  0.991946
3 -2.021255  0.002118
4  0.289092 -1.546906
5 -0.655969  0.553439
6 -0.469305 -1.817027
7  1.058969  0.337438
8  1.045938 -0.122092
9 -0.322795  2.390961

In [207]:
df[4:9]

          A         B         C         D
4  0.405453  0.289092  1.321158 -1.546906
5 -0.202646 -0.655969  0.193421  0.553439
6  1.318152 -0.469305  0.675554 -1.817027
7 -0.183109  1.058969 -0.397840  0.337438
8  1.047579  1.045938  0.863717 -0.122092

In [187]:
df.loc[2:8, ['A','C']]

          A         C
2  0.015696  1.150036
3  0.953324 -0.334077
4  0.405453  1.321158
5 -0.202646  0.193421
6  1.318152  0.675554
7 -0.183109 -0.397840
8  1.047579  0.863717

In [188]:
df.loc[:, ['A', 'C']]

          A         C
0  0.471435  1.432707
1 -0.720589  0.859588
2  0.015696  1.150036
3  0.953324 -0.334077
4  0.405453  1.321158
5 -0.202646  0.193421
6  1.318152  0.675554
7 -0.183109 -0.397840
8  1.047579  0.863717
9  0.124713  0.841675

In [189]:
df.loc[3:8]

          A         B         C         D
3  0.953324 -2.021255 -0.334077  0.002118
4  0.405453  0.289092  1.321158 -1.546906
5 -0.202646 -0.655969  0.193421  0.553439
6  1.318152 -0.469305  0.675554 -1.817027
7 -0.183109  1.058969 -0.397840  0.337438
8  1.047579  1.045938  0.863717 -0.122092

In [190]:
df.loc[3:3]

          A         B         C         D
3  0.953324 -2.021255 -0.334077  0.002118

In [191]:
df.iloc[:7, 0]

0    0.471435
1   -0.720589
2    0.015696
3    0.953324
4    0.405453
5   -0.202646
6    1.318152
Name: A, dtype: float64

In [192]:
df.iloc[:, 0]

0    0.471435
1   -0.720589
2    0.015696
3    0.953324
4    0.405453
5   -0.202646
6    1.318152
7   -0.183109
8    1.047579
9    0.124713
Name: A, dtype: float64

In [193]:
df.iloc[2:7]

          A         B         C         D
2  0.015696 -2.242685  1.150036  0.991946
3  0.953324 -2.021255 -0.334077  0.002118
4  0.405453  0.289092  1.321158 -1.546906
5 -0.202646 -0.655969  0.193421  0.553439
6  1.318152 -0.469305  0.675554 -1.817027

In [194]:
df.iloc[5:6]

          A         B         C         D
5 -0.202646 -0.655969  0.193421  0.553439

In [198]:
df[df.D > 0.5]

          A         B         C         D
2  0.015696 -2.242685  1.150036  0.991946
5 -0.202646 -0.655969  0.193421  0.553439
9  0.124713 -0.322795  0.841675  2.390961

In [200]:
df[df.B > df.D]

          A         B         C         D
1 -0.720589  0.887163  0.859588 -0.636524
4  0.405453  0.289092  1.321158 -1.546906
6  1.318152 -0.469305  0.675554 -1.817027
7 -0.183109  1.058969 -0.397840  0.337438
8  1.047579  1.045938  0.863717 -0.122092

In [201]:
df.query('A > 0.5 & D < 0.0')

          A         B         C         D
6  1.318152 -0.469305  0.675554 -1.817027
8  1.047579  1.045938  0.863717 -0.122092

In [202]:
df.query('A > 0.5 | D < 0.0')

          A         B         C         D
0  0.471435 -1.190976  1.432707 -0.312652
1 -0.720589  0.887163  0.859588 -0.636524
3  0.953324 -2.021255 -0.334077  0.002118
4  0.405453  0.289092  1.321158 -1.546906
6  1.318152 -0.469305  0.675554 -1.817027
8  1.047579  1.045938  0.863717 -0.122092

## 실습 2번

In [203]:
# 실습 2

df4 = pd.DataFrame({
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"]})

df5 = pd.DataFrame({
        "E": ["E4", "5E", "E6", "E7"],
        "F": ["F4", "F5", "F6", "F7"],
        "G": ["G4", "G5", "G6", "G7"],
        "H": ["H4", "H5", "H6", "H7"]})

df6 = pd.DataFrame({
        "I": ["I8", "I9", "I10", "I11"],
        "J": ["J8", "J9", "J10", "J11"],
        "K": ["K8", "K9", "K10", "K11"],
        "L": ["L8", "L9", "L10", "L11"]})

result = pd.concat([df4, df5, df6], axis=1)
result

    A   B   C   D   E   F   G   H    I    J    K    L
0  A0  B0  C0  D0  E4  F4  G4  H4   I8   J8   K8   L8
1  A1  B1  C1  D1  5E  F5  G5  H5   I9   J9   K9   L9
2  A2  B2  C2  D2  E6  F6  G6  H6  I10  J10  K10  L10
3  A3  B3  C3  D3  E7  F7  G7  H7  I11  J11  K11  L11

### 각 데이터프레임을 하나의 표로 합쳐서 한눈에 볼 수 있다

In [145]:
# 실습 3
df1 = pd.read_csv("./2. 데이터 Handling/FITNESS_1.csv", engine='python', encoding='cp949')
df2 = pd.read_csv("./2. 데이터 Handling/FITNESS_2.csv", engine='python', encoding='cp949')
df1

        NAME GENDER  AGE AGEGROUP  WEIGHT
0      Donna     여성   42      40대   68.15
1     Gracie     여성   38      30대   81.87
2     Luanne     여성   43      40대   85.84
3       Mimi     여성   50      50대   70.87
4      Chris     남성   49      40대   81.42
5      Allen     남성   38      30대   89.02
6      Nancy     여성   49      40대   76.32
7      Patty     여성   52      50대   76.32
8    Suzanne     여성   57      50대   59.08
9     Teresa     여성   51      50대   77.91
10       Bob     남성   39      30대   75.07
11  Harriett     여성   49      40대   73.37
12      Jane     여성   44      40대   73.03
13    Harold     남성   48      40대   91.63
14     Sammy     남성   54      50대   83.12
15     Buffy     여성   52      50대   73.71
16     Trent     남성   38      30대   82.78
17    Jackie     여성   47      40대   79.15
18     Ralph     남성   43      40대   81.19
19      Jack     남성   51      50대   69.63
20     Annie     여성   51      50대   67.25
21      Kate     여성   45      40대   66.45
22      Carl     남성   54      50대   79.38
23       Don     남성   44      40대   89.47
24     Effie     여성   48      40대   61.24
25    George     남성   37      30대   77.45
26      Iris     여성   39      30대   75.98
27      Mark     남성   57      50대   73.37
28     Steve     남성   54      50대   91.63
29    Vaughn     남성   44      40대   81.42
30   William     남성   45      40대   87.66

In [148]:
result = pd.merge(df1, df2, on = ['NAME', 'GENDER', 'AGE'])
result

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,여성,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,81.42,49.156,8.95,180,44,185
5,Allen,남성,38,30대,89.02,49.874,9.22,178,55,180
6,Nancy,여성,49,40대,76.32,48.673,9.40,186,56,188
7,Patty,여성,52,50대,76.32,45.441,9.63,164,48,166
8,Suzanne,여성,57,50대,59.08,50.545,9.93,148,49,155
9,Teresa,여성,51,50대,77.91,46.672,10.00,162,48,168
10,Bob,남성,39,30대,75.07,45.313,10.07,185,62,185
11,Harriett,여성,49,40대,73.37,50.388,10.08,168,67,168
12,Jane,여성,44,40대,73.03,50.541,10.13,168,45,168
13,Harold,남성,48,40대,91.63,46.774,10.25,162,48,164
14,Sammy,남성,54,50대,83.12,51.855,10.33,166,50,170
15,Buffy,여성,52,50대,73.71,45.790,10.47,186,59,188
16,Trent,남성,38,30대,82.78,47.467,10.50,170,53,172
17,Jackie,여성,47,40대,79.15,47.273,10.60,162,47,164
18,Ralph,남성,43,40대,81.19,49.091,10.85,162,64,170
19,Jack,남성,51,50대,69.63,40.836,10.95,168,57,172
20,Annie,여성,51,50대,67.25,45.118,11.08,172,48,172
21,Kate,여성,45,40대,66.45,44.754,11.12,176,51,176
22,Carl,남성,54,50대,79.38,46.080,11.17,156,62,165
23,Don,남성,44,40대,89.47,44.609,11.37,178,62,182
24,Effie,여성,48,40대,61.24,47.920,11.50,170,52,176
25,George,남성,37,30대,77.45,44.811,11.63,176,58,176
26,Iris,여성,39,30대,75.98,45.681,11.95,176,70,180
27,Mark,남성,57,50대,73.37,39.407,12.63,174,58,176
28,Steve,남성,54,50대,91.63,39.203,12.88,168,44,172
29,Vaughn,남성,44,40대,81.42,39.442,13.08,174,63,176
30,William,남성,45,40대,87.66,37.388,14.03,186,56,192

### 사람 별 건강 상태를 한 표로 볼 수 있다.

## 실습 3번

In [59]:
import pandas as pd
import numpy as np

pop_seoul = pd.read_csv('2. 데이터 Handling/서울인구통계.txt', sep='\t', engine='python', thousands=',', encoding='utf-8')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2020.1/4,합계,4354006,10013781,4874995,5138786,9733655,4742217,4991438,280126,132778,147348,2.24,1518239
3,2020.1/4,종로구,74151,161984,78271,83713,151217,73704,77513,10767,4567,6200,2.04,28073
4,2020.1/4,중구,63045,136469,66769,69700,126175,61839,64336,10294,4930,5364,2,23794

In [60]:
pop1 = pop_seoul[['자치구', '인구', '인구.3', '인구.6', '65세이상고령자']]
pop_seoul = pop1.drop([0, 1])
pop_seoul.head()

   자치구        인구     인구.3    인구.6 65세이상고령자
2   합계  10013781  9733655  280126  1518239
3  종로구    161984   151217   10767    28073
4   중구    136469   126175   10294    23794
5  용산구    246165   229579   16586    39439
6  성동구    307193   299042    8151    44728

In [61]:
pop_seoul.rename(columns={pop_seoul.columns[0]: '구별',
                         pop_seoul.columns[1]: '인구수',
                         pop_seoul.columns[2]: '한국인',
                         pop_seoul.columns[3]: '외국인',
                         pop_seoul.columns[4]: '고령자',}, inplace=True)
pop_seoul.head()

    구별       인구수      한국인     외국인      고령자
2   합계  10013781  9733655  280126  1518239
3  종로구    161984   151217   10767    28073
4   중구    136469   126175   10294    23794
5  용산구    246165   229579   16586    39439
6  성동구    307193   299042    8151    44728

In [62]:
cctv_seoul = pd.read_excel('2. 데이터 Handling/서울시CCTV.xlsx')
cctv_seoul.head()

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671

In [63]:
cctv_seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [64]:
cctv_seoul.rename(columns={cctv_seoul.columns[0] : '구별'}, inplace=True)
cctv_seoul.rename(columns={cctv_seoul.columns[1] : 'cctv수'}, inplace=True)
cctv_seoul.head()

      구별  cctv수  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구   1879     303.0  387.0  134.0     59    144    194    273    385
2  강 북 구   1265     243.0   88.0  141.0     74    145    254      1    319
3  강 서 구   1617     219.0  155.0  118.0    230    187    190    264    254
4  관 악 구   3985     430.0   56.0  419.0    487    609    619    694    671

In [65]:
cctv_seoul.sort_values(by='cctv수', ascending=True).head(10)

         구별  cctv수  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
9     도 봉 구    858     197.0   66.0    8.0    185     59    155    117     71
24    중 랑 구   1068       NaN    NaN    NaN    770    102    121     66      9
2     강 북 구   1265     243.0   88.0  141.0     74    145    254      1    319
22    종 로 구   1471       8.0    7.0  599.0    132    195    148    281    101
23  중     구   1544      25.0  165.0  114.0     80    245    270    317    328
5     광 진 구   1581     470.0   42.0   83.0     87     64     21    468    346
17    송 파 구   1586     600.0   99.0   88.0     21    166    100    116    396
3     강 서 구   1617     219.0  155.0  118.0    230    187    190    264    254
7     금 천 구   1634      27.0   17.0  242.0    101    382    136    199    530
11    동 작 구   1780     238.0   93.0   29.0    503    130    254    278    255

In [66]:
pop_seoul['구별'].unique()

array(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구',
       '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype=object)

In [67]:
cctv_seoul.isnull().sum()

구별          0
cctv수       0
2011년 이전    2
2012년       2
2013년       2
2014년       0
2015년       0
2016년       0
2017년       0
2018년       0
dtype: int64

In [68]:
cctv_seoul.loc[cctv_seoul.isnull()['2011년 이전']]

       구별  cctv수  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
10   동대문구   2003       NaN    NaN    NaN   1326    111    233    136    197
24  중 랑 구   1068       NaN    NaN    NaN    770    102    121     66      9

In [69]:
cctv_seoul["최근증가율"]=(
    cctv_seoul["2018년"]+
    cctv_seoul["2017년"]+
    cctv_seoul["2016년"])/(cctv_seoul["cctv수"]
                          -(cctv_seoul["2018년"]+
                            cctv_seoul["2017년"]+
                            cctv_seoul["2016년"]))*100
cctv_seoul.sort_values(by='최근증가율', ascending=False).head(5)

,구별,cctv수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,145.468998
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,139.443378
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,114.148681
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,112.483745
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,111.930295

In [70]:
pop_seoul.drop([2], inplace=True)
pop_seoul

      구별     인구수     한국인    외국인    고령자
3    종로구  161984  151217  10767  28073
4     중구  136469  126175  10294  23794
5    용산구  246165  229579  16586  39439
6    성동구  307193  299042   8151  44728
7    광진구  365990  350417  15573  48989
8   동대문구  362793  346156  16637  60367
9    중랑구  400678  395619   5059  66764
10   성북구  454532  442494  12038  72172
11   강북구  316750  312985   3765  61660
12   도봉구  333495  331238   2257  60023
13   노원구  535495  531037   4458  82682
14   은평구  482509  478019   4490  82245
15  서대문구  325875  312642  13233  53038
16   마포구  386086  374570  11516  53283
17   양천구  460532  456339   4193  62761
18   강서구  595703  589302   6401  85992
19   구로구  438308  405837  32471  67432
20   금천구  251370  232583  18787  38508
21  영등포구  404766  371903  32863  59373
22   동작구  407802  395014  12788  63378
23   관악구  516662  499374  17288  76664
24   서초구  434801  430568   4233  58332
25   강남구  549898  544804   5094  72602
26   송파구  680883  674095   6788  89539
27   강동구  457042  452646   4396  66401

In [71]:
pop_seoul.dtypes

구별     object
인구수    object
한국인    object
외국인    object
고령자    object
dtype: object

In [72]:
pop_seoul=pop_seoul.astype({"인구수":"int","한국인":"int","외국인":"int","고령자":"int"})

In [73]:
pop_seoul['외국인 비율'] = pop_seoul['외국인'] / pop_seoul['인구수']*100
pop_seoul['고령자 비율'] = pop_seoul['고령자'] / pop_seoul['인구수']*100
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
3  종로구  161984  151217  10767  28073  6.646953  17.330724
4   중구  136469  126175  10294  23794  7.543105  17.435462
5  용산구  246165  229579  16586  39439  6.737757  16.021368
6  성동구  307193  299042   8151  44728  2.653381  14.560228
7  광진구  365990  350417  15573  48989  4.255034  13.385338

In [74]:
pop_seoul.sort_values(by="외국인 비율", ascending=False).head()

      구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
21  영등포구  404766  371903  32863  59373  8.119012  14.668475
4     중구  136469  126175  10294  23794  7.543105  17.435462
20   금천구  251370  232583  18787  38508  7.473843  15.319251
19   구로구  438308  405837  32471  67432  7.408261  15.384615
5    용산구  246165  229579  16586  39439  6.737757  16.021368

In [75]:
pop_seoul.sort_values(by="고령자 비율", ascending=False).head()

     구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
11  강북구  316750  312985   3765  61660  1.188635  19.466456
12  도봉구  333495  331238   2257  60023  0.676772  17.998171
4    중구  136469  126175  10294  23794  7.543105  17.435462
3   종로구  161984  151217  10767  28073  6.646953  17.330724
14  은평구  482509  478019   4490  82245  0.930553  17.045278

In [76]:
cctv_seoul["구별"]=["강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구",
"동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구","용산구","은평구",
"종로구","중구","중랑구"]

In [77]:
result = pd.merge(cctv_seoul, pop_seoul, on="구별")
result

,구별,cctv수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율,인구수,한국인,외국인,고령자,외국인 비율,고령자 비율
0,강남구,5221,1944.0,195.0,316.0,430,546,765,577,448,52.171379,549898,544804,5094,72602,0.926354,13.202812
1,강동구,1879,303.0,387.0,134.0,59,144,194,273,385,82.960078,457042,452646,4396,66401,0.961837,14.528424
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,83.068017,316750,312985,3765,61660,1.188635,19.466456
3,강서구,1617,219.0,155.0,118.0,230,187,190,264,254,77.887789,595703,589302,6401,85992,1.074529,14.435381
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,99.150425,516662,499374,17288,76664,3.346095,14.838328
5,광진구,1581,470.0,42.0,83.0,87,64,21,468,346,111.930295,365990,350417,15573,48989,4.255034,13.385338
6,구로구,3227,852.0,219.0,349.0,187,268,326,540,486,72.106667,438308,405837,32471,67432,7.408261,15.384615
7,금천구,1634,27.0,17.0,242.0,101,382,136,199,530,112.483745,251370,232583,18787,38508,7.473843,15.319251
8,노원구,1906,481.0,117.0,203.0,80,461,298,110,156,42.026826,535495,531037,4458,82682,0.832501,15.440294
9,도봉구,858,197.0,66.0,8.0,185,59,155,117,71,66.601942,333495,331238,2257,60023,0.676772,17.998171
10,동대문구,2003,NaN,NaN,NaN,1326,111,233,136,197,39.387613,362793,346156,16637,60367,4.585811,16.639516
11,동작구,1780,238.0,93.0,29.0,503,130,254,278,255,79.254783,407802,395014,12788,63378,3.135836,15.541366
12,마포구,1935,585.0,108.0,69.0,70,177,359,372,195,91.774034,386086,374570,11516,53283,2.982755,13.800811
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,71.740891,325875,312642,13233,53038,4.060759,16.275566
14,서초구,2835,1172.0,91.0,228.0,134,215,352,247,396,54.076087,434801,430568,4233,58332,0.973549,13.415793
15,성동구,2679,665.0,109.0,118.0,101,258,201,933,294,114.148681,307193,299042,8151,44728,2.653381,14.560228
16,성북구,3003,779.0,84.0,304.0,241,279,388,285,643,78.008299,454532,442494,12038,72172,2.648438,15.878310
17,송파구,1586,600.0,99.0,88.0,21,166,100,116,396,62.833676,680883,674095,6788,89539,0.996941,13.150424
18,양천구,2775,772.0,161.0,185.0,169,172,349,137,830,90.198766,460532,456339,4193,62761,0.910469,13.627935
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,139.443378,404766,371903,32863,59373,8.119012,14.668475
20,용산구,2063,1279.0,152.0,201.0,107,102,89,60,73,12.058664,246165,229579,16586,39439,6.737757,16.021368
21,은평구,2962,1365.0,83.0,99.0,343,180,296,229,367,43.091787,482509,478019,4490,82245,0.930553,17.045278
22,종로구,1471,8.0,7.0,599.0,132,195,148,281,101,56.323061,161984,151217,10767,28073,6.646953,17.330724
23,중구,1544,25.0,165.0,114.0,80,245,270,317,328,145.468998,136469,126175,10294,23794,7.543105,17.435462
24,중랑구,1068,NaN,NaN,NaN,770,102,121,66,9,22.477064,400678,395619,5059,66764,1.262610,16.662757

In [78]:
del result['2011년 이전']
del result['2012년']
del result['2013년']
del result['2014년']
del result['2015년']
del result['2016년']
del result['2017년']
del result['2018년']
result.head()

    구별  cctv수      최근증가율     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
0  강남구   5221  52.171379  549898  544804   5094  72602  0.926354  13.202812
1  강동구   1879  82.960078  457042  452646   4396  66401  0.961837  14.528424
2  강북구   1265  83.068017  316750  312985   3765  61660  1.188635  19.466456
3  강서구   1617  77.887789  595703  589302   6401  85992  1.074529  14.435381
4  관악구   3985  99.150425  516662  499374  17288  76664  3.346095  14.838328