## HW1

### 1
화씨온도(℉)를 입력 받아서 섭씨온도(℃)로 바꾸는 프로그
램을 작성하시오.

C = (F - 32) * 5/9

In [2]:
F = int(input("화씨온도: "))

C = (F - 32) * (5 / 9)

print("섭씨온도: ", C)

화씨온도: 100
섭씨온도:  37.77777777777778

### 2
사용자로부터 투입한 돈과 물건 값을 입력 받아, 잔돈을
계산하여 출력한다. 단, 동전의 개수는 최소화 할 것
(가정)
- 물건 값은 100원 단위
- 자판기의 동전은 500원, 100원만 있음

In [3]:
total = int(input("투입한 돈: "))
price = int(input("물건값: "))
change = total - price
print("거스름돈: ", change)
print("500원짜리: ", change // 500,"개")
print("100원짜리: ", change % 500 // 100,"개")

투입한 돈: 5000
물건값: 2700
거스름돈:  2300
500원짜리:  4 개
100원짜리:  3 개

### 3
원의 반지름을 r을 입력 받아, 원의 둘레와 넓
이를 구하는 프로그램을 작성하시오

원 둘레: 2 * pi * r (pi = 3.141592)
원 넓이: pi * r * r

In [4]:
PI = 3.141592
r = int(input("반지름을 입력하시오: "))
print("원 둘레: ", 2 * PI * r)
print("원 넓이: ", PI * r * r)

반지름을 입력하시오: 5
원 둘레:  31.41592
원 넓이:  78.5398

### 4
2개의 정수를 입력 받아, 사칙연산 및 나머지
연산의 결과를 아래와 같이 출력하는 프로그램을 작성
하시오.

In [9]:
a, b = map(int, input("Enter two integers: ").split())
print("%d + %d = %d" % (a, b, a + b))
print("%d - %d = %d" % (a, b, a - b))
print("%d * %d = %d" % (a, b, a * b))
print("%d / %d = %d" % (a, b, a / b))
print("%d %% %d = %d" % (a, b, a % b))

Enter two integers: 8 5
8 + 5 = 13
8 - 5 = 3
8 * 5 = 40
8 / 5 = 1
8 % 5 = 3

### 5
두 정수를 입력 받아, 합과 평균을 구하여 출
력하는 프로그램을 작성하시오.

In [15]:
numbers = list(map(int, input("Enter two integers: ").split()))
print("The sum of %d and %d is %d" % (numbers[0], numbers[1], sum(numbers)))
print("The average of numbers is %.1f" % (sum(numbers) / len(numbers)))

Enter two integers: 70 91
The sum of 70 and 91 is 161
The average of numbers is 80.5

### 6
날짜(연/월/일)입력: 2021/04/15
입력한 날짜의 10년 후는 2021년 4월 15일

In [16]:
date = input("날짜 입력 : ")
year, month, day = map(int, date.split('/'))
print('입력한 날짜의 10년 후는 %d년 %s월 %s일' % (year + 10, month, day))

날짜 입력 : 2021/04/15
입력한 날짜의 10년 후는 2031년 4월 15일

### 2. 따라 해보기
range() 함수: 숫자 리스트를 자동으로 만들어 줌

In [21]:
list(range(5))

[0, 1, 2, 3, 4]

In [20]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [19]:
list(range(1, 7, 2))

[1, 3, 5]

range(start, stop, step)

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(1, 6))

[1, 2, 3, 4, 5]

##### 실습 1) 1부터 10까지의 리스트 생성

In [24]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### 실습 2) 10부터 1까지의 리스트 생성

In [25]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##### 실습 3) 1부터 10까지의 짝수 리스트 생성

In [30]:
even_list = list(range(2, 11, 2))
even_list

[2, 4, 6, 8, 10]

##### 실습 4) 1부터 10까지의 홀수 리스트 생성

In [29]:
odd_list = list(range(1, 11, 2))
odd_list

[1, 3, 5, 7, 9]

##### 실습 5) 리스트 더하기

In [31]:
even_list + odd_list

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]